@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --svd-main-color: 122, 255, 108;
  --svd-placeholder-color: 247, 246, 247;
}